.cart-card {
  border-radius: 5px;
  padding: 25px;
  background-color:  #FAFAFA !important;
}

.cart-item {
  margin-bottom: 15px;
}

.cart-img-card{
  background-color: #F2F2F2;
  border-radius: 12px !important;
  width: 100px ;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cart-img {
  position: absolute;
  width: 50px !important;
  height: 70px !important;
  object-fit: cover;
}

.quantity-update {
  display: flex;
  justify-content: center; 
  align-items: center;
  border: 1px solid #ddd;
  padding: 20px 10px;
  margin: 15px !important;
}

.quantity-update .d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-update p {
  cursor: pointer;
  margin: 0 10px;
}

.quantity-update span {
  margin: 0 10px;
}
.cart-name {
  font-size: 16px;
  color: #656565;
  font-family: 'Inter', sans-serif;
}

.cross {
  position: absolute;
  cursor: pointer;
  top: -100% !important;
  right: 0% !important;
}

.checkout-card{
  background-color:  #FAFAFA !important;
  border-radius: 10px;

  border: 2px solid #F1F1F1;
  padding: 30px !important;
  width: 350px ;
  position: relative;
}

.checkout-item{
  font-size: 20px;
  color: #656565;
  font-family: 'Inter', sans-serif;
}

.checkout-button {
  margin-top: 20px !important;
  background-color: black !important;
  padding: 12px !important;
  width: 350px !important;
  color: white; /* Ensure the text color is readable */
  border: none; /* Remove default button border */
  border-radius: 5px; /* Optional: add border-radius for rounded corners */
  display: block; /* Ensure it behaves like a block element for centering */
  margin-left: auto; /* Center horizontally within its container */
  margin-right: auto; /* Center horizontally within its container */
}
.total-amount-text{
  font-size: 24px;
  color: #656565;
  font-family: 'Inter', sans-serif;
}
.total-amount{
  font-size: 24px;
  font-family: 'Inter', sans-serif;
}

.checkout-header{
  font-size: 28px;
  font-family: 'Inter', sans-serif;

}