.f-logo {
    height: 40px !important;
    width: 40px !important;
    margin-right: 10px;
    margin-top: 5px;
}

.l-furni {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;



}

.l-flex {
    color: #1E99F5;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px !important;

}

.Navbar.Brand {
    display: flex;
    align-items: center;
}




.Navbar.Brand h2 {
    margin: 0;
    line-height: 1;
    display: flex;
    align-items: center;
}

.shopping-cart{
    font-size: 35px !important;
    font-weight: 600 !important;
    color: black;
    margin: 15px !important;
}

.navItem{
    margin: 25px !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    text-decoration: none !important;
    color: #202020 ;
    padding: 5px 12px 5px 12px  !important;

}

.position-relative {
    position: relative;
}

.navItem.active {
    background-color: #F8F8F8;
    padding: 5px 10px 5px 10px  !important;
    border-radius: 5px;
  }
  
    
.badge {
    position: absolute;
    top: 38px;     
    right: 12px;     
    background-color: #070707 !important;     
    color: white;     
    border-radius: 50%;
    width: 15px;     
    height: 15px;     
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px !important;     
    font-weight: 700 !important;
}

.navbar-with-line {
    border-bottom: 1px solid #e7e7e7;
}

.account-dropdown img {
   
    width: auto; 
    vertical-align: middle;
  }
  
  .account-dropdown .dropdown-menu {
    padding: 0.5rem 0;
  }


  